img {
    width: 400px;
}
h1 {
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    color:rgb(0, 85, 81);
    margin: 0;
}
h3 {
    margin: 0;
}
h4 {
    margin: 0;
}
.center {
    text-align: center;
}
.aboutme-font {
    line-height: 1.5;
}
body {
    background-color:darkslategray;
    color:aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
/* Navigation Panel
------------------------------------*/
.navigate a{
    color:coral;
    text-decoration: none;
}
.nav-style li{
    display:inline-block;
    margin: 0 10px;
}

/* About me
------------------------------------*/
header {
    background-color:#009460;
}
.header-style {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}
/* My Games
--------------------------------------- */
.games{
    background-color:#0398fc;
}
.game-style {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}
/* My Interests and Achievements
---------------------------------------- */
.interest{
    background-color: darkgrey;
}
.interest-style {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}
/* My Links
--------------------------------------- */
.links{
    background-color: darkgoldenrod;
}
.links a{
    text-decoration: none;
    font-size:0.8rem;
    background-color:rgb(0, 156, 60);
    padding:4px;
    border-radius:4px;
}
.links a:hover{
    background: rgba(0, 156, 60, 70%);
}
.links-style {
    width: 900px;
    margin: 0 auto;
}
/* End
---------------------------------------- */
footer {
    width: 900px;
    margin: 0 auto;
}
.side {
    text-align: right;
}